<!DOCTYPE html>
<html>
{{> fragments/html_header}}

<body>
  {{> fragments/top_bar}}

    {{> fragments/no_content_message}}


<div class="container framed">
  <div class="posts">
    {{#posts}}
      <div class="post framed">
        <p><strong>{{user.firstName}} {{user.lastName}}</strong></p>
        <p>{{content}}</p>
        <p><small>{{postDate}}</small></p>
        <hr>
      </div>
    {{/posts}}

    {{^posts}}
      <p>No trending posts found.</p>
    {{/posts}}
  </div>
</div>
    



    {{> fragments/followable_users_container}}

    {{> fragments/footer}}
</body>
</html>
